body {
  background-image: url("./tflr-assets/background/purpleship.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:  cover;
  margin: 0;
  font-family: 'ZagBold', sans-serif;
  src: url(./fonts/ZagBold.otf) format('opentype');
/*  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: ZagBold;
  src: url(./fonts/ZagBold.otf) format('opentype');

}
